.textarea{
  width:100%;
  min-height: 50px;
}

.tweet-button{
  background-color: #00acee; /* Green */
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 16px;
  margin-bottom: 8px;
  color:black
}

.tweet-list{
  margin-top: 40px;
}

.delete-button{
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
